body {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
}

.hero_logo_text {
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
}

.hero_main_text {
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
}

.hero_secondary_text {
    font-size: 18px;
    color: #FFFFFF;
}

.button_call_to_action {
    background-color: #FF1E1E;
}

.call_to_action_text {
    font-size: 24px;
    font-weight: 900;
    color: #FF1E1E
}

.dark_text {
    color: #000000;    
}

.light_text {
    color: #FFFFFF;
}

.quote_text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#000000;
}

.info_header_text {
    font-size: 36px;
    font-weight: 900;
    color: #000000;
}

.dark_background_color {
    background-color: #263238;
}

.secondary_background_color {
    background-color: #ECEFF1
}