body {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
}



ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-content: center;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.hero_logo_text,
.call_to_action_title_text {
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
}

.hero_main_text {
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
}

.hero_secondary_text,
.call_to_action_secondary_text {
    font-size: 18px;
    color: #FFFFFF;
}

.button_call_to_action {
    background-color: #FF1E1E;
    padding: 10px 20px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    border-radius: 5px;
    border-style:solid;
    border-color: #FFFFFF;
    border-width: 1px;
    
}

.call_to_action_text {
    font-size: 24px;
    font-weight: 900;
    color: #FF1E1E
}

.dark_text {
    color: #000000;    
}

.light_text {
    color: #FFFFFF;
}

.quote_text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#000000;
}

.info_header_text {
    font-size: 36px;
    font-weight: 900;
    color: #000000;
}

.dark_background_color {
    background-color: #263238;
    
}

.secondary_background_color {
    background-color: #ECEFF1
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 100px;
}

.hero_section {
    display: flex;
    margin: 60px 100px;
    justify-content: space-between;
}

.hero_content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 16px;
}

.rp_logo {
    height: 200px;
    border-radius: 15px;
}

.additional_info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info_icon {
    height: 100px;
    border-style: solid;
    border-color: #FF1E1E;
    border-radius: 10px;
    border-width: 3px;
}

.tiles {
    display: flex;
    justify-content: space-between;
}

.tile {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.quote_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call_to_action_section {
    display: flex;
    margin: 20px;
}

.call_to_action_content {
    display: flex;
    flex-direction: column;
}

